//
// main colors
//
$brand-primary = #228B22;
// $body-bg = #FFFFF0;

//
// navbar colors
//
$navbar-default-bg = #F0FFF0;
$navbar-default-border = none;
$navbar-inverse-bg = #317873;
$navbar-inverse-border = none;



// import bootstrap styles
@require "bootstrap/index";