doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title #{title} - #{site.title}
		link(href="/style.css", rel="stylesheet")

	body
		main#contents
			block contents
				h1= title
				!= contents

		footer
			block footer
				p Written by #{site.author}

		script(src='http://localhost:35729/livereload.js')
